/* File: themes.css */
.theme-tet {
  background-color: #b03333 !important;
  color: #ffeb3b !important;
}
.theme-summer {
  background: linear-gradient(to right, #b9b229, #eefa6d, #ffffff);
  color: #333 !important;
}
.theme-autumn {
  background-color: #d35400 !important;
  color: white !important;
}
.theme-xmas {
  background-color: #16a085 !important;
  color: white !important;
}
